.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.board-case {
  margin: auto;
  height: 100%;
  width: 10em;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.board-case-content {
  height: auto;
  width: 100%;
  background-color: greenyellow;
  text-align: center;
  object-fit: cover;
}

.board-case-image {
  max-width: 8em;
  object-fit: cover;
}
